body
{
  background-color: #f8f2da;
}

#untertitel
{
  font-size: 21px;
}

h1,h2,h3,h4,h5,h6
{
  text-align: center;
}

p
{
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-size: 21px;
}

@media (max-width: 900px)
{
  p
  {
    padding-left: 0%;
    padding-right: 0%;
	font-size: 18px;
  }
}
